<div class="jumbotron bg-light text-center">
    <h1 class="display-4">Corona Cases Dashboard</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quasi nulla tempore a, eveniet maxime aliquid quo labore nobis vitae, dolorem minima earum debitis fugiat deleniti perspiciatis amet ipsam quidem?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore numquam corrupti quos illo enim expedita repudiandae commodi blanditiis deleniti. Maxime consequuntur voluptas beatae, doloribus quasi sint dolorem maiores. Necessitatibus, ullam.</p>
</div>